body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #6AC5A9;
}

a:active {
    color: #6AC5A9;
}

.header-container {
    font-family: 'Julius Sans One', sans-serif;
    padding: 0 8em 0 8em;
    display: flex;
    justify-content: space-between;
    width: 70%;
    border-bottom: 1px solid #C9C6C4;
    margin:auto;
}

.title {
    text-align: center;
    font-size: 1.75em;
}

.menu {
    text-align: right;
    list-style: none;
}

.menu li {
    padding-bottom: 0.5em;
}

.pictures {
    padding-top: 3em;
    margin: auto;
    width: 55%;
    height: auto;
}

.headline {
    font-family: 'Julius Sans One', sans-serif;
    padding: 0 1em 0 1em;
    margin: auto;
    width: 60%;
    font-size: 2em;
}

.headline h5 {
    /*width: 24%;*/
    /*border-bottom: 1px solid #C9C6C4;*/
}

.content {
    margin: auto;
    width: 60%;
}

.pictures img {
    width: 100%;
}